<div>
  <h1 class="text-content tracking-wide">Work orders</h1>
  <p class="text-content-tertiary" >
    list the work orders
  </p>
  <button class="bg-btn-primary p-4 text-white rounded-md">
    Submit
  </button>
</div>
